@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  width: 90%;
  margin: 0 auto;
  background-color: rgba(5, 22, 15, 0.979);
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  color: #fff;
  letter-spacing: 0.1rem;
}

header,
main {
  border: 1px solid rgba(206, 201, 201, 0.644);
  margin: 2rem auto;
  max-width: 800px;
}

main {
  background-color: rgba(26, 87, 64, 0.979);
  border-radius: 7px;
}

.startpage {
  display: flex;
  gap: 1rem;
}

.rules {
  width: 65%;
}

.btn-start {
  text-align: center;
  width: 20%;
}

.start {
  padding: 1rem 2rem;
  background-color: rgba(111, 144, 206, 0.87);
  border-radius: 10px;
  border: none;
  font-family: inherit;
  font-size: inherit;
}

.start:hover {
  cursor: pointer;
}
.start:active {
  transform: scale(97%);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00f87c7a;
  border-radius: 15px;
  padding: 1rem;
}

.scoreboard {
  display: flex;
  justify-content: space-around;
  width: 82%;
}

.score {
  text-align: center;
  width: 20%;
}

.score-heading {
  color: #052414;
}

.game {
  width: 25%;
  text-align: center;
  margin-left: 3px;
}

.scoreboard > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15rem;
  padding-bottom: 1.2rem;
  font-size: 1.6rem;
  background-color: #0522147a;
}

.msg {
  text-align: center;
  padding: 1rem;
  width: 20rem;
  height: 10rem;
}
.instruction {
  text-align: center;
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
  display: none;
}

.play,
.selection {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem 2rem;
  margin: 2rem 0;
}

.cimage,
.pimage,
.round,
.rock,
.paper,
.scissor,
.msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cimage,
.pimage {
  width: 20rem;
  height: 15rem;
  border: 0.1rem solid white;
  border-radius: 5%;
  background-color: #2539ecd5;
  font-size: 8rem;
}

.selection {
  border: 0.1rem solid white;
  margin-bottom: 0;
  background-color: #19a75dc4;
}

.rock,
.paper,
.scissor {
  border: 0.1rem solid white;
  border-radius: 5%;
  background-color: rgba(0, 0, 0, 0.822);
  width: 13rem;
  height: 10rem;
  font-size: 7rem;
}

.rock:hover,
.paper:hover,
.scissor:hover,
button:hover {
  cursor: pointer;
  background-color: rgba(56, 53, 53, 0.568);
}

.reset {
  background-color: #320c7f;
  color: inherit;
  font-family: inherit;
  padding: 0.8rem 2rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  border: none;
}
